{% extends 'template.html' %}
{% block contenidohija %}
	<main>
		<!--Acerca de - contenido -->
		<div class="container">
			<div class="row contenedor">
				<div class="col">
					<h2 class="titulo">Ingresos de Productos</h2>
					<div class="row contacto justify-content-center align-items-center">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Grupo:</label>
                            <div class="col-sm-6">
                               {{form.productogrupo}}
                            </div>
                         </div>
                         <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Nombre del Producto:</label>
                            <div class="col-sm-6">
                               {{form.productonombre}}
                            </div>
                         </div>
                            <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Precio:</label>
                            <div class="col-sm-6">
                               {{form.productopreciovta}}
                            </div>
                         </div>
                            <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Codigo:</label>
                            <div class="col-sm-6">
                               {{form.productocodigo}}
                            </div>
                         </div>
                            <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Existencia:</label>
                            <div class="col-sm-6">
                               {{form.productoexistencia}}
                            </div>
                         </div>
                         <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-6 col-form-label">Estado:</label>
                            <div class="col-sm-6">
                               {{form.productoanulado}}
                            </div>
                        </div>
                       <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search">
                       <span class="glyphicon glyphicon-search"></span> Guardar</button>
                       <a  class="btn btn-info btn-lg btn-responsive"   href="{% url 'productolistar' %}"> cancelar </a>
</form>


					</div>

				</div>
			</div>
		</div>
	</main>


{% endblock%}

