<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">

     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title> Sistemas de Inventario</title>

     {% load static %}

     <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'core/js/bootstrap.min.js' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <link rel="stylesheet" href="{% static 'core/css/formularios.css' %}">

<style>
	.login-form {
		width: 340px;
    	margin: 150px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="login-form">
    <form action="" method="post">
        {% csrf_token %}
        <h2 class="text-center">Acceso al Sistemas</h2>
        {% if form.non_field_errors %}
            <p style="color:yellow">Usuario o contraseña incorrectos, prueba de nuevo.</p>
        {% endif %}

        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input  type="password" name="password"  class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>


        </div>

    </form>

</div>
</body>
</html>