header{
    background:#030101;
    color:#ffffff;
}
.main{
    background:#246B5F;
}
.color1{
    background:#3D83B8;
}

aside{
    background:#C15844;
}

footer{
    background:#00008B;
    color:#772D86;
}
body{
    background:#172145;
    color:#3CB4AA;
}
